{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" href="{% static 'style.css' %}">#}
{##}
{#        {% block title %}#}
{#            <title>Homepage</title>#}
{#        {% endblock %}#}
{##}
{#    </head>#}
{#    <body>#}
{#        {% block header %}{% endblock %}#}
{#        {% block content %}#}
{#            {% for movie in movies %}#}
{#                <div class="card">#}
{#                  <div class="card-body">#}
{#                      <img src="/media/{{ movie.poster }}" class="movie-poster">#}
{#                      <div class="row">#}
{#                          <div class="col-9">#}
{#                            <h3>#}
{#                                <a href="/movie-details/{{ movie.id }}" class="card-title">{{ movie.title }}</a>#}
{#                            </h3>#}
{#                          </div>#}
{#                      </div>#}
{##}
{##}
{#                      <div class="row">#}
{#                          <p class="card-text description">{{ movie.description }}</p>#}
{#                      </div>#}
{#                  </div>#}
{#                </div>#}
{#                <br>#}
{#            {% endfor %}#}
{#        {% endblock %}#}
{##}
{#        <div style="float: bottom" >#}
{#            © Copyright 2020 by <a href="homepage.html">movieBazaar</a>#}
{#        </div>#}
{#    </body>#}
{#</html>#}