{#{% extends 'homepage.html' %}#}
{##}
{#    {% block title %}#}
{#        <title>{{ movie.title }}</title>#}
{#    {% endblock %}#}
{##}
{##}
{#    {% block content %}#}
{#        <div>#}
{##}
{#        <h2>Informacje o filmie "{{movie.title}}"</h2>#}
{#        <p>Tytuł:          {{movie.title}}</p>#}
{#        <p>Premiera:       {{movie.year}}</p>#}
{#        <p>Reżeseria:      {{movie.director}}</p>#}
{#        <p>Scenariusz:     {{movie.screenplay}}</p>#}
{#        <p>W roli głownej: {{movie.starring}}</p>#}
{#        <p>Gatunek:        {{movie.genre}}</p>#}
{#        <h3></h3>#}
{##}
{#        </div>#}
{##}
{#    {% endblock %}#}