{% extends "homepage.html" %}
{% load bootstrap %}

{% block title %}
    <title>Nowy Film</title>
{% endblock %}

{% block content %}
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                    {% if new %}
                        <button type="submit">Dodaj film</button>
                    {% else %}
                        <button type="submit">Zapisz</button>
                    {% endif %}
            </form>
        </div>
{% endblock %}