{% extends 'homepage.html' %}

    {% block title %}
        <title>{{ movie.title }}</title>
    {% endblock %}


    {% block content %}
        <div>
            <button type="button"><a href="{% url "edit-movie" movie.id %}"> Edytuj </a></button>
            <button type="button"><a href="{% url "delete-movie" movie.id %}"> Usuń </a></button>
            <button type="button"><a href="{% url 'homepage'%}">Cofnij</a></button>
        </div>
        <div>
            <h2>Informacje o filmie "{{ movie.title }}"</h2>
                <p>Tytuł: {{ movie.title }}</p>
        {#        <p>Premiera: {{ movie.year }}</p>#}
        {#        <p>Reżeseria: {{ movie.director }}</p>#}
        {#        <p>Scenariusz: {{ movie.screenplay }}</p>#}
                <p>W roli głownej:
                    {% for actor in movie_actors %}
                        {{ actor.name }},
                    {% endfor %}
                </p>
                <p>Gatunek: {{ movie.get_genre_display }}</p>
            <h3></h3>
        </div>

    {% endblock %}